*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Gotham', sans-serif;
    color: #292c2e;
}

/*Encabezado*/

.encabezado{
    margin: auto;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    display: grid;
    grid-gap: 1rem;
    text-align: center;
}

.titulo-sintesis{
    background-color: #0386dd;
    color: white;
    font-size: 1.7rem;
    padding: 0.5rem;
}

.secretaria{
    font-size: 1.5rem;
}

.fecha{
    font-size: 1.1rem;
}

/*Tapas de diarios*/

.contenedor-tapas{
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
}

@media (min-width: 1250px) {
    .contenedor-tapas{
        grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    }
  }

.tapa-diarios-titulo{
    margin-bottom: 1rem;
  }

.imagen-tapa{
    width: 100%;
}

/*Notas*/

.bold{
    font-weight: bold;
}

.seccion-notas{
    display: grid;
    grid-gap: 1rem;
    margin-bottom: 1rem;
}

.titulo-seccion-notas{
    background-color: gray;
    text-align: center;
    padding: 0.5rem;
}

.contenedor-nota{
    width: 90%;
    margin: auto;
    display: grid;
    grid-gap: 1rem;
}

.titulo-nota{
    font-size: 1.4rem;
    font-weight: bold;
    color: #0386dd;
}

.cuerpo-nota{
    line-height: 1.5rem;
}